<div align="right">

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/wisaaco/TallerPythonFEE/blob/main/lessons/1/2_PandasIntroduccio.ipynb)

</div>

# 2 - La llibreria Pandas

## Pandas

**Pandas** és la llibreria per excel·lència per a l'anàlisi de dades del llenguatge Python. El seu nom prové de “panell data” (terme economètric). Inspirada en les funcionalitats de fulls de càlcul i R, però amb el potencial d'aquest llenguatge de propòsit general.

**Pandas** inclou totes les funcionalitats necessàries per al procés d'anàlisi de dades: càrrega, filtrat, tractament, síntesi, agrupament, emmagatzematge i visualització. A més, s'integra amb la resta de llibreries de càlcul numèric com Numpy, visualització amb Matplotlib, aprenentatge automàtic amb scikit-learn, etc.

**L'objectiu d'aquest curs introductori és adquirir capacitats bàsiques d'anàlisis de dades amb Pandas.**

Referències:
- https://pandas.pydata.org/
- https://en.wikipedia.org/wiki/Python_(programming_language)
- https://github.com/pandas-dev/pandas#*main-*features

Nota:
- Pandas és una llibrería instal·lada a Google Colab.

In [1]:
import pandas as pd

## Càrrega de dades i estructures bàsiques de Pandas.


A Pandas hi ha dos tipus de variables: dataframes i series.

In [2]:
df_who = pd.read_csv("data/WHO.csv") #dataframe
print(type(df_who))

<class 'pandas.core.frame.DataFrame'>

In [3]:
df_who

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.20,23.4,20.20,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.00,25.8,28.00,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.40,87.9,82.40,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.30,163.8,175.30,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.50,67.0,106.50,4709965.0,1.90,35.9

In [4]:
# Estructura
print(df_who.shape) # files o mostres x columnes

(202, 358)

In [5]:
df_who.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Columns: 358 entries, Country to Urban_population_pct_of_total
dtypes: float64(355), int64(2), object(1)
memory usage: 565.1+ KB

In [6]:
df_who.describe()

,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),Population in urban areas (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
count,202.000000,202.000000,177.000000,131.000000,178.000000,179.000000,179.000000,1.930000e+02,193.000000,193.000000,...,1.860000e+02,1.780000e+02,128.000000,1.710000e+02,181.000000,170.000000,181.000000,1.880000e+02,188.000000,188.000000
mean,101.500000,3.579208,59.457627,78.871756,11250.112360,84.033520,85.698324,3.409805e+04,1.297927,54.911917,...,1.483596e+05,2.015567e+11,57.253516,3.424012e+08,56.677624,54.356471,56.677624,1.665763e+07,2.165851,55.195213
std,58.456537,1.808263,49.105286,20.415760,12586.753417,17.788047,15.451212,1.304957e+05,1.163864,23.554182,...,6.133091e+05,9.400689e+11,138.669298,5.943043e+10,60.060929,61.160556,60.060929,5.094867e+07,1.596628,23.742122
min,1.000000,1.000000,0.000000,23.600000,260.000000,6.000000,11.000000,2.000000e+00,-2.500000,10.000000,...,2.565000e+01,5.190000e+07,0.990000,-7.140000e+11,2.900000,3.000000,2.900000,1.545600e+04,-1.160000,10.000000
25%,51.250000,2.000000,19.000000,68.400000,2112.500000,79.000000,79.500000,1.340000e+03,0.500000,36.000000,...,1.672615e+03,3.317500e+09,16.292500,-1.210000e+09,12.400000,8.475000,12.400000,9.171623e+05,1.105000,35.650000
50%,101.500000,3.000000,46.000000,86.500000,6175.000000,90.000000,90.000000,6.762000e+03,1.300000,57.000000,...,1.021157e+04,1.145000e+10,28.515000,-2.240000e+08,29.980000,27.600000,29.980000,3.427661e+06,1.945000,57.300000
75%,151.750000,5.000000,91.000000,95.300000,14502.500000,96.000000,96.000000,2.173200e+04,2.100000,73.000000,...,6.549217e+04,8.680000e+10,55.310000,1.024000e+09,88.700000,82.900000,88.700000,9.837113e+06,3.252500,72.750000
max,202.000000,7.000000,199.000000,99.800000,60870.000000,100.000000,100.000000,1.328474e+06,4.300000,100.000000,...,5.776432e+06,1.100000e+13,1334.860000,1.390000e+11,267.000000,253.700000,267.000000,5.270000e+08,7.850000,100.000000

In [7]:
df_who.head()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
0,Afghanistan,1,1,151.0,28.0,NaN,NaN,NaN,26088.0,4.0,...,692.50,NaN,NaN,NaN,257.00,231.9,257.00,5740436.0,5.44,22.9
1,Albania,2,2,27.0,98.7,6000.0,93.0,94.0,3172.0,0.6,...,3499.12,4.790000e+09,78.14,-2.040000e+09,18.47,15.5,18.47,1431793.9,2.21,45.4
2,Algeria,3,3,6.0,69.9,5940.0,94.0,96.0,33351.0,1.5,...,137535.56,6.970000e+10,351.36,4.700000e+09,40.00,31.2,40.00,20800000.0,2.61,63.3
3,Andorra,4,2,NaN,NaN,NaN,83.0,83.0,74.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,5,3,146.0,67.4,3890.0,49.0,51.0,16557.0,2.8,...,8991.46,1.490000e+10,27.13,9.140000e+09,164.10,242.5,164.10,8578749.0,4.14,53.3

In [8]:
df_who.tail()

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
197,Vietnam,198,6,25.0,90.3,2310.0,91.0,96.0,86206.0,1.4,...,101826.23,4.480000e+10,47.11,-1.940000e+09,20.2,23.4,20.2,21900000.0,2.90,26.4
198,West Bank and Gaza,199,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,655.86,3.780000e+09,NaN,NaN,28.0,25.8,28.0,2596216.0,3.33,71.6
199,Yemen,200,1,83.0,54.1,2090.0,65.0,85.0,21732.0,3.0,...,20148.34,1.150000e+10,114.52,8.310000e+08,82.4,87.9,82.4,5759120.5,4.37,27.3
200,Zambia,201,3,161.0,68.0,1140.0,94.0,90.0,11696.0,1.9,...,2366.94,4.090000e+09,10.41,-4.470000e+08,175.3,163.8,175.3,4017411.0,1.95,35.0
201,Zimbabwe,202,3,101.0,89.5,NaN,88.0,87.0,13228.0,0.8,...,11457.33,5.620000e+09,3.39,-1.710000e+08,106.5,67.0,106.5,4709965.0,1.90,35.9

### Columnes

In [9]:
# Columnes o caracteristiques de cada mostra
print(df_who.columns)

Index(['Country', 'CountryID', 'Continent', 'Adolescent fertility rate (%)',
       'Adult literacy rate (%)',
       'Gross national income per capita (PPP international $)',
       'Net primary school enrolment ratio female (%)',
       'Net primary school enrolment ratio male (%)',
       'Population (in thousands) total', 'Population annual growth rate (%)',
       ...
       'Total_CO2_emissions', 'Total_income', 'Total_reserves',
       'Trade_balance_goods_and_services', 'Under_five_mortality_from_CME',
       'Under_five_mortality_from_IHME', 'Under_five_mortality_rate',
       'Urban_population', 'Urban_population_growth',
       'Urban_population_pct_of_total'],
      dtype='object', length=358)

In [10]:
for col in df_who.columns:
    print(col)

Country
CountryID
Continent
Adolescent fertility rate (%)
Adult literacy rate (%)
Gross national income per capita (PPP international $)
Net primary school enrolment ratio female (%)
Net primary school enrolment ratio male (%)
Population (in thousands) total
Population annual growth rate (%)
Population in urban areas (%)
Population living below the poverty line (% living on &lt; US$1 per day)
Population median age (years)
Population proportion over 60 (%)
Population proportion under 15 (%)
Registration coverage of births (%)
Total fertility rate (per woman)
Antenatal care coverage - at least four visits (%)
Antiretroviral therapy coverage among HIV-infected pregt women for PMTCT (%)
Antiretroviral therapy coverage among people with advanced HIV infections (%)
Births attended by skilled health personnel (%)
Births by caesarean section (%)
Children aged 6-59 months who received vitamin A supplementation (%)
Children aged &lt;5 years sleeping under insecticide-treated nets (%)
Children aged &lt;5 years who received any antimalarial treatment for fever (%)
Children aged &lt;5 years with ARI symptoms taken to facility (%)
Children aged &lt;5 years with diarrhoea receiving ORT (%)
Contraceptive prevalence (%)
Neonates protected at birth against neonatal tetanus (PAB) (%)
One-year-olds immunized with MCV
One-year-olds immunized with three doses of diphtheria tetanus toxoid and pertussis (DTP3) (%)
One-year-olds immunized with three doses of Hepatitis B (HepB3) (%)
One-year-olds immunized with three doses of Hib (Hib3) vaccine (%)
Tuberculosis detection rate under DOTS (%)
Tuberculosis treatment success under DOTS (%)
Women who have had mammography (%)
Women who have had PAP smear (%)
Community and traditional health workers density (per 10 000 population)
Dentistry personnel density (per 10 000 population)
Environment and public health workers density (per 10 000 population)
External resources for health as percentage of total expenditure on health
General government expenditure on health as percentage of total expenditure on health
General government expenditure on health as percentage of total government expenditure
Hospital beds (per 10 000 population)
Laboratory health workers density (per 10 000 population)
Number of community and traditional health workers
Number of dentistry personnel
Number of environment and public health workers
Number of laboratory health workers
Number of nursing and midwifery personnel
Number of other health service providers
Number of pharmaceutical personnel
Number of physicians
Nursing and midwifery personnel density (per 10 000 population)
Other health service providers density (per 10 000 population)
Out-of-pocket expenditure as percentage of private expenditure on health
Per capita government expenditure on health (PPP int. $)
Per capita government expenditure on health at average exchange rate (US$)
Per capita total expenditure on health (PPP int. $)
Per capita total expenditure on health at average exchange rate (US$)
Pharmaceutical personnel density (per 10 000 population)
Physicians density (per 10 000 population)
Private expenditure on health as percentage of total expenditure on health
Private prepaid plans as percentage of private expenditure on health
Ratio of health management and support workers to health service providers
Ratio of nurses and midwives to physicians
Social security expenditure on health as percentage of general government expenditure on health
Total expenditure on health as percentage of gross domestic product
Births attended by skilled health personnel (%) highest educational level of mother
Births attended by skilled health personnel (%) highest wealth quintile
Births attended by skilled health personnel (%) lowest educational level of mother
Births attended by skilled health personnel (%) lowest wealth quintile
Births attended by skilled health personnel (%) rural
Births attended by skilled health personnel (%) urban
Births attended by skilled health personnel difference highest lowest educational level of mother
Births attended by skilled health personnel difference highest-lowest wealth quintile
Births attended by skilled health personnel difference urban-rural
Births attended by skilled health personnel ratio highest-lowest educational level of mother
Births attended by skilled health personnel ratio highest-lowest wealth quintile
Births attended by skilled health personnel ratio urban-rural
Measles immunization coverage among one-year-olds (%) highest educational level of mother
Measles immunization coverage among one-year-olds (%) highest wealth quintile
Measles immunization coverage among one-year-olds (%) lowest educational level of mother
Measles immunization coverage among one-year-olds (%) lowest wealth quintile
Measles immunization coverage among one-year-olds (%) rural
Measles immunization coverage among one-year-olds (%) urban
Measles immunization coverage among one-year-olds difference highest-lowest educational level of mother
Measles immunization coverage among one-year-olds difference highest-lowest wealth quintile
Measles immunization coverage among one-year-olds difference urban-rural
Measles immunization coverage among one-year-olds ratio highest-lowest educational level of mother
Measles immunization coverage among one-year-olds ratio highest-lowest wealth quintile
Measles immunization coverage among one-year-olds ratio urban-rural
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference lowest-highest educational level of mother
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference lowest-highest wealth quintile
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) difference rural-urban
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) highest educational level of mother
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) highest wealth quintile
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) lowest educational level of mother
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) lowest wealth quintile
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio lowest-highest educational level of mother
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio lowest-highest wealth quintile
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) ratio rural-urban
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) rural
Under-5 mortality rate (Probability of dying aged &lt; 5 years per 1 000 live births) urban
Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) both sexes
Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) female
Adult mortality rate (probability of dying between 15 to 60 years per 1000 population) male
Age-standardized mortality rate for cancer (per 100 000 population)
Age-standardized mortality rate for cardiovascular diseases (per 100 000 population)
Age-standardized mortality rate for injuries (per 100 000 population)
Age-standardized mortality rate for non-communicable diseases (per 100 000 population)
Deaths among children under five years of age due to diarrhoeal diseases (%)
Deaths among children under five years of age due to HIV/AIDS (%)
Deaths among children under five years of age due to injuries (%)
Deaths among children under five years of age due to malaria (%)
Deaths among children under five years of age due to measles (%)
Deaths among children under five years of age due to neonatal causes (%)
Deaths among children under five years of age due to other causes (%)
Deaths among children under five years of age due to pneumonia (%)
Deaths due to HIV/AIDS (per 100 000 population per year)
Deaths due to tuberculosis among HIV-negative people (per 100 000 population)
Deaths due to tuberculosis among HIV-positive people (per 100 000 population)
Healthy life expectancy (HALE) at birth (years) both sexes
Healthy life expectancy (HALE) at birth (years) female
Healthy life expectancy (HALE) at birth (years) male
Incidence of tuberculosis (per 100 000 population per year)
Infant mortality rate (per 1 000 live births) both sexes
Infant mortality rate (per 1 000 live births) female
Infant mortality rate (per 1 000 live births) male
Life expectancy at birth (years) both sexes
Life expectancy at birth (years) female
Life expectancy at birth (years) male
Maternal mortality ratio (per 100 000 live births)
Neonatal mortality rate (per 1 000 live births)
Number of confirmed poliomyelitis cases
Prevalence of HIV among adults aged &gt;=15 years (per 100 000 population)
Prevalence of tuberculosis (per 100 000 population)
Under-5 mortality rate (probability of dying by age 5 per 1000 live births) both sexes
Under-5 mortality rate (probability of dying by age 5 per 1000 live births) female
Under-5 mortality rate (probability of dying by age 5 per 1000 live births) male
Years of life lost to communicable diseases (%)
Years of life lost to injuries (%)
Years of life lost to non-communicable diseases (%)
Children under five years of age overweight for age (%)
Children under five years of age stunted for age (%)
Children under five years of age underweight for age (%)
Newborns with low birth weight (%)
Per capita recorded alcohol consumption (litres of pure alcohol) among adults (&gt;=15 years)
Population using solid fuels (%) rural
Population using solid fuels (%) urban
Population with sustainable access to improved drinking water sources (%) rural
Population with sustainable access to improved drinking water sources (%) total
Population with sustainable access to improved drinking water sources (%) urban
Population with sustainable access to improved sanitation (%) rural
Population with sustainable access to improved sanitation (%) total
Population with sustainable access to improved sanitation (%) urban
Prevalence of adults (&gt;=15 years) who are obese (%) female
Prevalence of adults (&gt;=15 years) who are obese (%) male
Prevalence of condom use by young people (15-24 years) at higher risk sex (%) female
Prevalence of condom use by young people (15-24 years) at higher risk sex (%) male
Prevalence of current tobacco use among adolescents (13-15 years) (%) both sexes
Prevalence of current tobacco use among adolescents (13-15 years) (%) female
Prevalence of current tobacco use among adolescents (13-15 years) (%) male
Prevalence of current tobacco use among adults (&gt;=15 years) (%) both sexes
Prevalence of current tobacco use among adults (&gt;=15 years) (%) female
Prevalence of current tobacco use among adults (&gt;=15 years) (%) male
Adolescent_fertility_rate
Agricultural_land
Agriculture_contribution_to_economy
Aid_given
Aid_received
Aid_received_total
All_forms_of_TB_new_cases_per_100_000_estimated
All_forms_of_TB_new_cases_per_100_000_reported
Annual_freshwater_withdrawals_total
Arms_exports
Arms_imports
Bad_teeth_per_child
Births_attended_by_skilled_health_staff
Breast_cancer_deaths_per_100_000_women
Breast_cancer_new_cases_per_100_000_women
Breast_cancer_number_of_female_deaths
Breast_cancer_number_of_new_female_cases
Broadband_subscribers
Broadband_subscribers_per_100_people
CO2_emissions
CO2_intensity_of_economic_output
Capital_formation
Cell_phones_per_100_people
Cell_phones_total
Central_bank_discount_rate
Cervical_cancer_deaths_per_100_000_women
Cervical_cancer_new_cases_per_100_000_women
Cervical_cancer_number_of_female_deaths
Cervical_cancer_number_of_new_female_cases
Children_and_elderly
Children_out_of_school_primary
Children_out_of_school_primary_female
Children_out_of_school_primary_male
Children_per_woman
Coal_consumption
Coal_consumption_per_person
Coal_production
Coal_production_per_person
Colon_and_Rectum_cancer_deaths_per_100_000_men
Colon_and_Rectum_cancer_deaths_per_100_000_women
Colon_and_Rectum_cancer_new_cases_per_100_000_men
Colon_and_Rectum_cancer_new_cases_per_100_000_women
Colon_and_Rectum_cancer_number_of_female_deaths
Colon_and_Rectum_cancer_number_of_male_deaths
Colon_and_Rectum_cancer_number_of_new_female_cases
Colon_and_Rectum_cancer_number_of_new_male_cases
Consumer_price_index
Contraceptive_use
Deaths_from_TB_per_100_000_estimated
Debt_servicing_costs
Democracy_score
Electric_power_consumption
Electricity_generation
Electricity_generation_per_person
Energy_use
Expenditure_per_student_primary
Expenditure_per_student_secondary
Expenditure_per_student_tertiary
Exports_of_goods_and_services
Exports_unit_value
External_debt_total_DOD_current_USdollars
External_debt_total_pct_of_GNI
Female_labour_force
Fixed_line_and_mobile_phone_subscribers
Foreign_direct_investment_net_inflows
Foreign_direct_investment_net_outflows
Forest_area
Gross_capital_formation
HIV_infected
Health_expenditure_per_person
Health_expenditure_private
Health_expenditure_public_pct_of_GDP
Health_expenditure_public_pct_of_government_expenditure
Health_expenditure_public_pct_of_total_health_expenditure
Health_expenditure_total
High_technology_exports
Hydroelectricity_consumption
Hydroelectricity_consumption_per_person
Imports_of_goods_and_services
Imports_unit_value
Improved_sanitation_facilities_urban
Improved_water_source
Income_growth
Income_per_person
Income_share_held_by_lowest_20pct
Industry_contribution_to_economy
Inequality_index
Infant_mortality_rate
Infectious_TB_new_cases_per_100_000_estimated
Infectious_TB_new_cases_per_100_000_reported
Infectious_TB_treatment_completeness
Inflation_GDP_deflator
Internet_users
Life_expectancy_at_birth
Literacy_rate_adult_female
Literacy_rate_adult_male
Literacy_rate_adult_total
Literacy_rate_youth_female
Literacy_rate_youth_male
Literacy_rate_youth_total
Liver_cancer_deaths_per_100_000_men
Liver_cancer_deaths_per_100_000_women
Liver_cancer_new_cases_per_100_000_men
Liver_cancer_new_cases_per_100_000_women
Liver_cancer_number_of_female_deaths
Liver_cancer_number_of_male_deaths
Liver_cancer_number_of_new_female_cases
Liver_cancer_number_of_new_male_cases
Lung_cancer_deaths_per_100_000_men
Lung_cancer_deaths_per_100_000_women
Lung_cancer_new_cases_per_100_000_men
Lung_cancer_new_cases_per_100_000_women
Lung_cancer_number_of_female_deaths
Lung_cancer_number_of_male_deaths
Lung_cancer_number_of_new_female_cases
Lung_cancer_number_of_new_male_cases
Malaria_prevention_insecticide_treated_bed_nets_usage
Malaria_treatment
Malnutrition_weight_for_age
Market_value_of_listed_companies
Maternal_mortality
Math_achievement_4th_grade
Math_achievement_8th_grade
Measles_immunization
Medical_Doctors
Merchandise_trade
Military_expenditure
Natural_gas_consumption
Natural_gas_consumption_per_person
Natural_gas_production
Natural_gas_production_per_person
Natural_gas_proved_reserves
Natural_gas_proven_reserves_per_person
Net_barter_terms_of_trade
Nuclear_consumption
Nuclear_consumption_per_person
Number_of_deaths_from_TB_estimated
Number_of_existing_TB_cases_estimated
Oil_consumption
Oil_consumption_per_person
Oil_production
Oil_production_per_person
Oil_proved_reserves
Oil_proven_reserves_per_person
Old_version_of_Income_per_person
Patent_applications
Patents_granted
Patents_in_force
People_living_with_HIV
Personal_computers_per_100_people
Personal_computers_total
Population_growth
Population_in_urban_agglomerations_more_than_1_million
Population_total
Poverty_headcount_ratio_at_national_poverty_line
Present_value_of_debt
Primary_completion_rate_total
Primary_energy_consumption
Primary_energy_consumption_per_person
Primary_school_completion_pct_of_boys
Primary_school_completion_pct_of_girls
Prostate_cancer_deaths_per_100_000_men
Prostate_cancer_new_cases_per_100_000_men
Prostate_cancer_number_of_male_deaths
Prostate_cancer_number_of_new_male_cases
Pump_price_for_gasoline
Ratio_of_girls_to_boys_in_primary_and_secondary_education
Ratio_of_young_literate_females_to_males
Roads_paved
SO2_emissions_per_person
Services_contribution_to_economy
Stomach_cancer_deaths_per_100_000_men
Stomach_cancer_deaths_per_100_000_women
Stomach_cancer_new_cases_per_100_000_men
Stomach_cancer_new_cases_per_100_000_women
Stomach_cancer_number_of_female_deaths
Stomach_cancer_number_of_male_deaths
Stomach_cancer_number_of_new_female_cases
Stomach_cancer_number_of_new_male_cases
Sugar_per_person
Surface_area
Tax_revenue
Total_CO2_emissions
Total_income
Total_reserves
Trade_balance_goods_and_services
Under_five_mortality_from_CME
Under_five_mortality_from_IHME
Under_five_mortality_rate
Urban_population
Urban_population_growth
Urban_population_pct_of_total

In [11]:
df_who["Country"] # Una serie

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, Length: 202, dtype: object

In [12]:
print(df_who["Country"][0])
print("-"*30)
print(df_who["Country"][:5])
print("-"*30)
print(df_who["Country"].values)

Afghanistan
------------------------------
0    Afghanistan
1        Albania
2        Algeria
3        Andorra
4         Angola
Name: Country, dtype: object
------------------------------
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Brunei Darussalam'
 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon' 'Canada'
 'Cape Verde' 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia'
 'Comoros' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Cook Islands' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czech Republic' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'Equatorial Guinea' 'Eritrea' 'Estonia' 'Ethiopia' 'Fiji'
 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Greece' 'Grenada' 'Guatemala' 'Guinea' 'Guinea-Bissau'
 'Guyana' 'Haiti' 'Honduras' 'Hong Kong, China' 'Hungary' 'Iceland'
 'India' 'Indonesia' 'Iran (Islamic Republic of)' 'Iraq' 'Ireland'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Korea, Dem. Rep.' 'Korea, Rep.' 'Kuwait' 'Kyrgyzstan'
 "Lao People's Democratic Republic" 'Latvia' 'Lebanon' 'Lesotho' 'Liberia'
 'Libyan Arab Jamahiriya' 'Lithuania' 'Luxembourg' 'Macao, China'
 'Macedonia' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (Federated States of)' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal'
 'Netherlands' 'Netherlands Antilles' 'New Caledonia' 'New Zealand'
 'Nicaragua' 'Niger' 'Nigeria' 'Niue' 'Norway' 'Oman' 'Pakistan' 'Palau'
 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland'
 'Portugal' 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'San Marino' 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal'
 'Serbia' 'Seychelles' 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia'
 'Solomon Islands' 'Somalia' 'South Africa' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Swaziland' 'Sweden' 'Switzerland' 'Syria' 'Taiwan'
 'Tajikistan' 'Tanzania' 'Thailand' 'Timor-Leste' 'Togo' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan' 'Tuvalu' 'Uganda'
 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States of America' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'West Bank and Gaza' 'Yemen' 'Zambia' 'Zimbabwe']

In [13]:
df_who.Country # una altra manera més simple
# pero hi ha noms de columnes molt llargues: "Children aged &lt;5 years who received any antimalarial treatment for fever (%)" 
# NOTA: En la creació de documents és important un adequat nom de columnes

0             Afghanistan
1                 Albania
2                 Algeria
3                 Andorra
4                  Angola
              ...
197               Vietnam
198    West Bank and Gaza
199                 Yemen
200                Zambia
201              Zimbabwe
Name: Country, Length: 202, dtype: object

In [14]:
print(df_who.columns[9])
print("-"*30)
print(df_who[df_who.columns[9]])

Population annual growth rate (%)
------------------------------
0      4.0
1      0.6
2      1.5
3      1.0
4      2.8
      ...
197    1.4
198    NaN
199    3.0
200    1.9
201    0.8
Name: Population annual growth rate (%), Length: 202, dtype: float64

In [15]:
# Es podem agagar multiples columnes
df_who[df_who.columns[0:5]]

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%)
0,Afghanistan,1,1,151.0,28.0
1,Albania,2,2,27.0,98.7
2,Algeria,3,3,6.0,69.9
3,Andorra,4,2,NaN,NaN
4,Angola,5,3,146.0,67.4
...,...,...,...,...,...
197,Vietnam,198,6,25.0,90.3
198,West Bank and Gaza,199,1,NaN,NaN
199,Yemen,200,1,83.0,54.1
200,Zambia,201,3,161.0,68.0
201,Zimbabwe,202,3,101.0,89.5

In [16]:
df_who[["CountryID","Continent"]]

     CountryID  Continent
0            1          1
1            2          2
2            3          3
3            4          2
4            5          3
..         ...        ...
197        198          6
198        199          1
199        200          1
200        201          3
201        202          3

[202 rows x 2 columns]

In [17]:
# Podem accedir a les columnes amb la seva posició en lloc del nom
# funció: .iloc(files, columnes)
df_who.iloc[:,3:5]

     Adolescent fertility rate (%)  Adult literacy rate (%)
0                            151.0                     28.0
1                             27.0                     98.7
2                              6.0                     69.9
3                              NaN                      NaN
4                            146.0                     67.4
..                             ...                      ...
197                           25.0                     90.3
198                            NaN                      NaN
199                           83.0                     54.1
200                          161.0                     68.0
201                          101.0                     89.5

[202 rows x 2 columns]

In [18]:
df_who.iloc[:,[3,5,9]]

,Adolescent fertility rate (%),Gross national income per capita (PPP international $),Population annual growth rate (%)
0,151.0,NaN,4.0
1,27.0,6000.0,0.6
2,6.0,5940.0,1.5
3,NaN,NaN,1.0
4,146.0,3890.0,2.8
...,...,...,...
197,25.0,2310.0,1.4
198,NaN,NaN,NaN
199,83.0,2090.0,3.0
200,161.0,1140.0,1.9
201,101.0,NaN,0.8

### Files

Cada mostra té un índex. L'índex pot ser numèric, alfabètic o de temps.

In [19]:
df_who.index

RangeIndex(start=0, stop=202, step=1)

In [20]:
df_who.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201])

In [21]:
df_who.loc[0] #la mostra zero

Country                           Afghanistan
CountryID                                   1
Continent                                   1
Adolescent fertility rate (%)           151.0
Adult literacy rate (%)                  28.0
                                     ...
Under_five_mortality_from_IHME          231.9
Under_five_mortality_rate               257.0
Urban_population                    5740436.0
Urban_population_growth                  5.44
Urban_population_pct_of_total            22.9
Name: 0, Length: 358, dtype: object

In [22]:
type(df_who.loc[0]) # una mostra i una columna són també sèries

pandas.core.series.Series

In [23]:
print(df_who.loc[0].Country) # Podem accedir a una sèrie amb el seu índex (pròximes classes)
print(df_who.loc[0][0]) #o amb la seva posició
print(df_who.loc[0][3])

Afghanistan
Afghanistan
151.0

In [24]:
df_who.loc[166:170] #slicing

,Country,CountryID,Continent,Adolescent fertility rate (%),Adult literacy rate (%),Gross national income per capita (PPP international $),Net primary school enrolment ratio female (%),Net primary school enrolment ratio male (%),Population (in thousands) total,Population annual growth rate (%),...,Total_CO2_emissions,Total_income,Total_reserves,Trade_balance_goods_and_services,Under_five_mortality_from_CME,Under_five_mortality_from_IHME,Under_five_mortality_rate,Urban_population,Urban_population_growth,Urban_population_pct_of_total
166,Somalia,167,3,35.0,NaN,NaN,6.0,11.0,8445.0,3.0,...,589.90,NaN,NaN,NaN,150.8,219.9,150.8,2885131.0,4.09,35.2
167,South Africa,168,3,65.0,82.4,8900.0,88.0,88.0,48282.0,0.7,...,408792.47,1.610000e+11,66.32,-2.200000e+09,68.5,68.5,68.5,27800000.0,1.98,59.3
168,Spain,169,2,10.0,97.2,28200.0,99.0,100.0,43887.0,1.1,...,343701.53,6.780000e+11,NaN,-5.770000e+10,4.9,4.2,4.9,33300000.0,1.75,76.7
169,Sri Lanka,170,7,29.0,90.7,3730.0,100.0,99.0,19207.0,0.5,...,11017.65,1.980000e+10,24.28,-2.180000e+09,21.4,12.1,21.4,2969868.0,0.26,15.1
170,Sudan,171,3,51.0,60.9,1780.0,37.0,45.0,37707.0,2.2,...,10618.27,1.670000e+10,10.13,-2.850000e+09,111.3,94.4,111.3,15100000.0,4.40,40.8

In [25]:
# Els índexs de les mostres són útils quan són dates: Sèries temporals
# per exemple:
# df.loc["2020":"2022"]

In [26]:
# Obviament, podem fer una selecció més especifica
df_who.loc[167:169,["Country","Total_CO2_emissions"]] # per noms

          Country  Total_CO2_emissions
167  South Africa            408792.47
168         Spain            343701.53
169     Sri Lanka             11017.65

In [27]:
df_who.iloc[[168,192],[0,43,118]] # per posicions

,Country,Hospital beds (per 10 000 population),Deaths among children under five years of age due to pneumonia (%)
168,Spain,34.0,1.3
192,United States of America,32.0,1.3

### Carrega de dades (II)

Per desconeixement encara s'utilitzin formats de codificació no oberts

In [28]:
# Data sources: https://datos.gob.es/es/catalogo?q=bilbao&g-recaptcha-response=&administration_level=L&theme_id=economia&sort=score+desc%2C+metadata_created+desc
# read_csv signature: https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

df_gastos = pd.read_csv("data/presupuesto_gastos_2023.csv")

ParserError: Error tokenizing data. C error: Expected 2 fields in line 8, saw 4

In [ ]:
df_gastos = pd.read_csv("data/presupuesto_gastos_2023.csv",delimiter=";")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xd3 in position 17: invalid continuation byte

### Codificació de caràcters

```python
var = "camión"
var = "lul·lià"
var = "Ζεύς"
var = "ประเทศไทย"
var = "日本語で"
```

Codificacions: 
- https://docs.python.org/3.11/library/codecs.html#standard-encodings
- UTF-8 https://es.wikipedia.org/wiki/UTF-8

In [ ]:
# cp1250 | windows-1250 | Central and Eastern Europe

# Mètode bàsic: "Prova i error" !!!
df_gastos = pd.read_csv("data/presupuesto_gastos_2023.csv",delimiter=";",encoding="cp1250")

In [ ]:
df_gastos.head()

,_id,SOZIETATEA_EU/SOCIEDAD_EU,SOZIETATEA_CAS/SOCIEDAD_CAS,EKITALDIA/EJERCICIO,SAILA/DEPARTAMENTO,SAILAREN DESKRIBAPENA_EU/DESCRIPCION DEPARTAMENTO_EU,SAILAREN DESKRIBAPENA_EU/DESCRIPCION DEPARTAMENTO_CAS,ZENTRU KUDEATZAILEA/CENTRO GESTOR,ZENTRO KUDEATZAILEAREN DESKR._EUS/DESCR. CENTRO GESTOR_EUS,ZENTRO KUDEATZAILEAREN DESKR._CAS/DESCR. CENTRO GESTOR_CAS,...,ARTIKULUAREN DESKRIBAPENA_CAS/DESCRIPCION ARTICULO_CAS,KONTZEPTUA/CONCEPTO,KONTZEPTUAREN DESKRIBAPENA_EUS/DESCRIPCION CONCEPTO_EUS,KONTZEPTUAREN DESKRIBAPENA_CAS/DESCRIPCION CONCEPTO_CAS,AZPIKONTZEPTUA/SUBCONCEPTO,AZPIKONTZEPTUAREN DESKRIBAPENA_EUS/DESCRIPCION SUBCONCEPTO_EUS,AZPIKONTZEPTUAREN DESKRIBAPENA_CAS/DESCRIPCION SUBCONCEPTO_CAS,PROIEKTUA/PROYECTO,PROIEKTUAREN DESKRIBAPENA/DESCRIPCION PROYECTO,HASIERAKO KREDITUA/CREDITO INICIAL 2023
0,1,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DE ALTOS CARGOS,100,GOI KARGUEN OINARRIZKO SOLDATAK ETA BESTELAKO ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,10001,GOI KARGUEN OINARRIZKO SOLDATAK ETA BESTELAKO ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,9999/99999,GENERIKOA/ GENÉRICO,"220.619,00"
1,2,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL EVENTUAL DE GABINETES,110,KABINETEETAKO ALDI BAT. PERTSONALAREN OINARRIZ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,11001,KABINETEETAKO ALDI BAT. PERTSONALAREN OINARRIZ...,RETRIBUCIONES BASICAS Y OTRAS REMUNERACIONES D...,9999/99999,GENERIKOA/ GENÉRICO,"589.261,00"
2,3,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,120,FUNTZIONARIOEN OINARRIZKO SOLDATAK,RETRIBUCIONES BASICAS DEL PERSONAL FUNCIONARIO,12001,FUNTZIONARIOEN OINARRIZKO SOLDATAK,RETRIBUCIONES BASICAS DEL PERSONAL FUNCIONARIO,9999/99999,GENERIKOA/ GENÉRICO,"383.369,00"
3,4,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,121,FUNTZIONARIOEN ORDAINSARI OSAGARRIAK,RETRIBUCIONES COMPLEMENTARIAS DEL PERSONAL FUN...,12101,LANTOKI OSAGARRIA,COMPLEMENTO DE DESTINO,9999/99999,GENERIKOA/ GENÉRICO,"131.722,00"
4,5,UDAL,UDAL,2023,110,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,1100,KULTURA ETA GOBERNANTZA,CULTURA Y GOBERNANZA,...,RETRIBUCIONES DEL PERSONAL FUNCIONARIO,121,FUNTZIONARIOEN ORDAINSARI OSAGARRIAK,RETRIBUCIONES COMPLEMENTARIAS DEL PERSONAL FUN...,12102,OSAGARRI BEREZIA,COMPLEMENTO ESPECIFICO,9999/99999,GENERIKOA/ GENÉRICO,"396.609,00"

### Guardant un dataframe

In [ ]:
df_gastos.to_csv('data/tmp_file.csv',encoding='utf-8') # guardant un dataframe en un fitxer, especificant el format

In [ ]:
df_tmp = pd.read_csv("data/tmp_file.csv") # test codificació i separador

### Carrega de dades (III)

Pandas pot cargar diferents formats de fitxers (csv,json, excel, etc.)
- https://pandas.pydata.org/docs/reference/io.html

In [51]:
url = "https://es.wikipedia.org/wiki/Anexo:Comunidades_y_ciudades_aut%C3%B3nomas_de_Espa%C3%B1a"
comunidades_esp = pd.io.html.read_html(url)
comunidades_esp # Alerta ! Encara no és un dataframe! En una web pots trobar més "taules"

[   Unnamed: 0                      Nombre  \
 0           1                   Andalucía
 1           2                    Cataluña
 2           3         Comunidad de Madrid
 3           4        Comunidad Valenciana
 4           5                     Galicia
 5           6             Castilla y León
 6           7                  País Vasco
 7           8                    Canarias
 8           9          Castilla-La Mancha
 9          10            Región de Murcia
 10         11                      Aragón
 11         12              Islas Baleares
 12         13                 Extremadura
 13         14      Principado de Asturias
 14         15  Comunidad Foral de Navarra
 15         16                   Cantabria
 16         17                    La Rioja
 17         18                     Melilla
 18         19                       Ceuta
 19      TOTAL                      España

            Capital (de iure o en su defecto de facto)  Población (2022)  \
 0                                             Sevilla               NaN
 1                                           Barcelona               NaN
 2                                              Madrid               NaN
 3                                            Valencia               NaN
 4                              Santiago de Compostela               NaN
 5                                 Valladolid[nota 1]​               NaN
 6                                    Vitoria[nota 1]​               NaN
 7   Las Palmas de Gran Canaria y Santa Cruz de Ten...               NaN
 8                                     Toledo[nota 1]​               NaN
 9                                              Murcia               NaN
 10                                           Zaragoza               NaN
 11                                              Palma               NaN
 12                                             Mérida               NaN
 13                                             Oviedo               NaN
 14                                           Pamplona               NaN
 15                                          Santander               NaN
 16                                            Logroño               NaN
 17                                            Melilla               NaN
 18                                              Ceuta               NaN
 19                                             Madrid               NaN

    Porcentaje población  Densidad (hab./km²) Superficie (km²)  \
 0               17,87 %                 9705              NaN
 1               16,38 %                23884              NaN
 2               14,24 %                84115              NaN
 3               10,67 %                21698              NaN
 4                5,68 %                 9119              NaN
 5                5,02 %                 2534              NaN
 6                4,67 %                30213              NaN
 7                4,58 %                30139        [nota 3]​
 8                4,32 %                 2579              NaN
 9                3,20 %                13374              NaN
 10               2,79 %                 2790              NaN
 11               2,47 %                24427              NaN
 12               2,23 %                 2541              NaN
 13               2,14 %                 9553              NaN
 14               1,39 %                 6330              NaN
 15               1,23 %                10974              NaN
 16               0,67 %                 6267              NaN
 17               0,18 %               700158              NaN
 18               0,18 %               417510              NaN
 19                100 %                 9367              NaN

    Porcentaje superficie Mapa  PIB per cápita en € (2021)
 0                17,31 %  NaN                         NaN
 1                 6,35 %  NaN                         NaN
 2                 1,59 %  NaN                         NaN
 3                 4,60 %  NaN                         NaN
 4                 5,84 %  NaN                         NaN
 5                18,62 %  NaN                         NaN
 6                 1,43 %  NaN                         NaN
 7                 1,47 %  NaN                         NaN
 8                15,70 %  NaN                         NaN
 9                 2,24 %  NaN                         NaN
 10                9,43 %  NaN                         NaN
 11                0,99 %  NaN                         NaN
 12                8,23 %  NaN                         NaN
 13                2,13 %  NaN                         NaN
 14                2,05 %  NaN                         NaN
 15                1,05 %  NaN                         NaN
 16                1,00 %  NaN                         NaN
 17               <0,01 %  NaN                         NaN
 18               <0,01 %  NaN                         NaN
 19                 100 %    —                         NaN  ]

In [53]:
print(type(comunidades_esp[0]))
df_comunidades_esp = comunidades_esp[0]

<class 'pandas.core.frame.DataFrame'>

In [55]:
df_comunidades_esp.head() # funciona perfectament??

,Unnamed: 0,Nombre,Capital (de iure o en su defecto de facto),Población (2022),Porcentaje población,Densidad (hab./km²),Superficie (km²),Porcentaje superficie,Mapa,PIB per cápita en € (2021)
0,1,Andalucía,Sevilla,NaN,"17,87 %",9705,NaN,"17,31 %",NaN,NaN
1,2,Cataluña,Barcelona,NaN,"16,38 %",23884,NaN,"6,35 %",NaN,NaN
2,3,Comunidad de Madrid,Madrid,NaN,"14,24 %",84115,NaN,"1,59 %",NaN,NaN
3,4,Comunidad Valenciana,Valencia,NaN,"10,67 %",21698,NaN,"4,60 %",NaN,NaN
4,5,Galicia,Santiago de Compostela,NaN,"5,68 %",9119,NaN,"5,84 %",NaN,NaN

## Activitat

En aquesta activitat practicarem la càrrega de dades en diferents formats. Al món real les dades no sempre tenen una estructura i un format com ens agradaríem.

L'objectiu és que analitzeu la càrrega d'aquestes dades amb les originals: <br/>
- Quina dimensió tenen les dades reals i carregades?
- Quines columnes?
- El concepte de columna com atribut o característica i el concepte de fila com a mostra està present en l'estructura de les dades?
- Coincideixen amb la informació del fitxer?

### A) "Municipios y fenómeno demográfico de les Illes Balears" <br/>
Font: https://datos.gob.es/es/catalogo/ea0010587-balears-illes-por-municipios-y-fenomeno-demografico-mnpd-identificador-api-t20-e301-fenom-a2020-l0-23007-px <br/>
Fitxer: "data/municipis.csv" <br/>

In [86]:
import pandas as pd
#TODO

### B) "Speculation Watch List"
Font: https://data.cityofnewyork.us/Housing-Development/Speculation-Watch-List/adax-9mit <br/>
Fitxer: "data/Speculation_Watch_List.csv"

In [87]:
import pandas as pd
#TODO

### C) "Europe Inflation monthly data (annual rate of change)" 
Font: https://ec.europa.eu/eurostat/databrowser/view/PRC_HICP_MANR__custom_3761882/bookmark/table?lang=en&bookmarkId=4ad27e6f-358a-4a3d-82a0-587d69a833eb <br/>
Fitxer: "data/prc_hicp_manr__custom_3761882_spreadsheet.xlsx" <br/>
*Nota:*
  - Com podem agafar una "fulla" concreta del full de càlcul? (https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html)
  - Per aquesta activitat necessitem instal·lar una llibreria específica: executa la següent cel·la

In [ ]:
%pip install openpyxl

In [88]:

import pandas as pd
#TODO

### D) "Taula de Naixements"
Font: https://ibestat.caib.es/ibestat/estadistiques/poblacio/naixements/414cab4f-b402-4cd1-af05-6617443de384 <br/>
URL dades: "https://ibestat.caib.es/ibestat/estadistiques/poblacio/naixements/414cab4f-b402-4cd1-af05-6617443de384" <br/>

In [89]:
import pandas as pd
#TODO

### E) "Nights spent at tourist accommodation establishments by residents/non-residents - monthly data"
Font:  https://ec.europa.eu/eurostat/databrowser/view/tin00171/default/table?lang=en <br/>
Fitxer: "data/tin00171_linear.csv.gz" <br/>
Nota: 
- Els fitxers comprimits amb format .gz podem obrir-se directament com si fossin fitxers de dades amb pandas, i en aquest cas és un fitxer del tipus CSV. És a dir, no cal descomprimir.

In [90]:
import pandas as pd
#TODO

## Activitat 1.2 del homework

[![License: CC BY 4.0](https://img.shields.io/badge/License-CC_BY_4.0-lightgrey.svg)](https://creativecommons.org/licenses/by/4.0/) <br/>
Isaac Lera and Gabriel Moya <br/>
Universitat de les Illes Balears <br/>
isaac.lera@uib.edu, gabriel.moya@uib.edu